<ion-header  >
  <ion-toolbar color="danger">
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  
  
  <div id="container">
    <h2 class="titulo">Registro</h2>
    <div style="display: flex;">
      
      <h6 style="text-align: left; margin-left: 3%;">Nombres</h6>
      <p style="color: red; margin-top: 4%;">*</p>
    </div>
    <ion-input style="border-style: groove; width: 345px; margin-left: 2.5%; border-radius: 2ch; text-align: left;"></ion-input>

    <div style="display: flex;">
      <h6 style="text-align: left; margin-left: 3%;">Apellidos</h6>
      <p style="color: red; margin-top: 4%;">*</p>
    </div>
    <ion-input style="border-style: groove; width: 345px; margin-left: 2.5%; border-radius: 2ch; text-align: left;"></ion-input>

    <div style="display: flex;">
      <h6 style="text-align: left; margin-left: 3%;">Correo Electrónico</h6>
      <p style="color: red; margin-top: 4%;">*</p>
    </div>
    <ion-input style="border-style: groove; width: 345px; margin-left: 2.5%; border-radius: 2ch; text-align: left;"></ion-input>

    <div style="display: flex;">
      <h6 style="text-align: left; margin-left: 3%;">Contraseña</h6>
      <p style="color: red; margin-top: 4%;">*</p>
    </div>
    <ion-input style="border-style: groove; width: 345px; margin-left: 2.5%; border-radius: 2ch; text-align: left;"></ion-input>

    <div style="display: flex;">
      <h6 style="text-align: left; margin-left: 3%;">Número identidad</h6>
      <p style="color: red; margin-top: 4%;">*</p>
    </div>
    <ion-input style="border-style: groove; width: 345px; margin-left: 2.5%; border-radius: 2ch; text-align: left;"></ion-input>

    <div style="display: flex;">
      <h6 style="text-align: left; margin-left: 3%;">Número teléfono</h6>
      <p style="color: red; margin-top: 4%;">*</p>
    </div>
    
    <ion-input style="border-style: groove; width: 345px; margin-left: 2.5%; border-radius: 2ch; text-align: left;"></ion-input>
  </div>
</ion-content>
